button {
  background-color: #a7c5eb;  
  color: black;
  padding: 12px;
  border: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
}

h1, h2 {
  font-family: 'Patrick Hand', cursive;
  color: #db1a1a;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

p {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
}

main #intro h1, main #intro p {
    text-align: center;
}

#time {
    float: right;
}

main #game #choices-list {
  display: inline-flex;
  flex-direction: column;
}

main #game #choices-list button {
  margin: 0.1rem;
}